/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: #0a2a66;
  }
  
  header .logo {
    flex: 1; /* O logo ocupa espaço no lado esquerdo */
  }
  
  header .logo img {
    width: 100px;
    height: auto;
  }
  
  nav {
    flex: 2; /* O menu ocupa o centro */
    display: flex;
    justify-content: center; /* Centraliza o menu dentro do espaço reservado */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a {
    color: #0a2a66;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: "Times New Roman", serif;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

/* Conteúdo Principal */
.content {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.content h2 {
    color: #132257;
    font-size: 2em;
    border-bottom: 3px solid #1E90FF;
    padding-bottom: 5px;
}

/* Seção de Locais */
.location {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.location img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.location h3 {
    color: #1E90FF;
    margin-top: 0;
}

.location p {
    margin: 0;
    line-height: 1.6;
}
